host			= ""
port			= 25
username		= ""
password		= ""

senderAddress	= ""
senderName		= "Sender Name"
receiverAddress	= ""
receiverName	= "Receiver Name"
subject			= "CeusMedia/Mail: Rendering Demo"
body			= "There should be a blue block at the left."
