includes:
	- ../vendor/phpstan/phpstan-strict-rules/rules.neon
	- phpstan-baseline.neon

parameters:
	phpVersion: 80100
	level: max
	paths:
		- ../src
	excludePaths:
		- ../src/Transport/Mailgun.php
#	reportMaybesInPropertyPhpDocTypes: false
#	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		-
			identifier: missingType.generics
		-
			identifier: missingType.iterableValue