includes:
	- ../vendor/phpstan/phpstan-strict-rules/rules.neon
	- phpstan-baseline.neon

parameters:
	phpVersion: 80300
	level: max
	paths:
		- ../src
	excludePaths:
		- ../src/Transport/Mailgun.php
	reportMaybesInPropertyPhpDocTypes: true
	treatPhpDocTypesAsCertain: true
	ignoreErrors:
		- identifier: missingType.generics
		- identifier: missingType.iterableValue