[SMTP]
host			= ""
port			= 25
username		= ""
password		= ""

[sending]
senderAddress	= ""
senderName		= "Sender Name"
receiverAddress	= ""
receiverName	= "Receiver Name"
subject			= "CeusMedia/Mail: Demo Mail #%s"
body			= "This is just a test. The current UNIX timestamp is %s. And here are some umlauts: äöüÄÖÜß :-)"

[mailbox]
host			= ""
address			= ""
port			= ""
username		= ""
password		= ""
